In [137]:
import pandas as pd
import requests
from io import BytesIO
import re
from datetime import datetime
import pyarrow as pa
import pyarrow.parquet as pq

In [138]:
# Defnining a function to download and combine excel files into a dataframe. 
# The function also adds a source_file and year column to identify which file a record came from and the year of the data it pertains to.

# Takes as input a list of urls, and a number of rows to skip, which varies by year.

def download_excel_files(urls, rows_to_skip, sheet_number = 1):
    all_data = []

    for i, url in enumerate(urls, 1):
        # Download an Excel file
        response = requests.get(url)
        
        if response.status_code == 200:
            # Read the Excel file into a BytesIO object
            excel_file = BytesIO(response.content)
            
            # Read the Excel file, specifying dtype for CENSUS_KEY and CENS_TRACT
            df = pd.read_excel(
                excel_file, 
                skiprows=rows_to_skip, 
                sheet_name=sheet_number,
                dtype={'CENSUS_KEY': str, 'CENS_TRACT': str, 'FAC_NO': str, 'OSHPD_ID': str}
            )
            
            # Rename 'CENSUS_KEY' to 'CENS_TRACT' if it exists
            if 'CENSUS_KEY' in df.columns:
                df = df.rename(columns={'CENSUS_KEY': 'CENS_TRACT'})
            
            # Extract year from the URL
            year_match = re.search(r'/spcl(\d{2})', url)
            if year_match:
                year = int(year_match.group(1))
                full_year = 2000 + year if year < 50 else 1900 + year
            else:
                full_year = None
            
            # Add columns to identify which file this data came from
            df['source_file'] = f"file_{i}"
            df['year'] = full_year
            
            all_data.append(df)
            
            print(f"Downloaded and processed file {i}")
        else:
            print(f"Failed to download file from {url}. Status code: {response.status_code}")

    if all_data:
        # Combine all DataFrames into one
        combined_df = pd.concat(all_data, ignore_index=True)
        return combined_df
    else:
        print("No data was successfully downloaded.")
        return None

In [139]:
# Attempted to use beautifulsoup to scrape the specialty care clinic file urls, but neither xpath or css selector worked reliably. 

# I split the urls into 2 lists, pre_2018_urls and post_2018_urls, on account of inconsistent data structure.

# I also define a data dictionary url to create a dataframe that can be used to standardize column names between the newer and older datasets. 

# The plan is to create two dataframes for pre- and post-2018, modify the former's structure to match the latter, and combine.

# Define a list of urls for files pertaining to 2013–2017

pre_2018_urls = [
    "https://data.chhs.ca.gov/dataset/17bbc0b0-869e-4168-b03b-48fa60c78577/resource/896c699c-07fc-4049-bda0-ff98ac8e3913/download/spcl13utildatafinal.xlsx",
    "https://data.chhs.ca.gov/dataset/17bbc0b0-869e-4168-b03b-48fa60c78577/resource/91fa31b7-8f40-47f1-8bca-bbc063221993/download/spcl14utildatafinal.xlsx",
    "https://data.chhs.ca.gov/dataset/17bbc0b0-869e-4168-b03b-48fa60c78577/resource/171f7631-4cb2-4b20-b238-d5ab3512ae10/download/spcl15utildatafinal.xlsx",
    "https://data.chhs.ca.gov/dataset/17bbc0b0-869e-4168-b03b-48fa60c78577/resource/c6a99713-427a-44df-947d-d46c3402a4d6/download/spcl16_util_data_final-ver2.xlsx",
    "https://data.chhs.ca.gov/dataset/17bbc0b0-869e-4168-b03b-48fa60c78577/resource/e7a2def1-c0dd-41af-a283-46e095bc0af2/download/spcl17_util_data_final.xlsx"
]

# Define a list of urls for files pertaining to 2018–2023

post_2018_urls = [
    "https://data.chhs.ca.gov/dataset/17bbc0b0-869e-4168-b03b-48fa60c78577/resource/8ad9b464-cbbd-4ad5-b37d-d2daa924768b/download/spcl23_util_data_prelim.xlsx",
    "https://data.chhs.ca.gov/dataset/17bbc0b0-869e-4168-b03b-48fa60c78577/resource/00a9d637-d75a-4ba5-9ed5-87bb01f3a6e3/download/spcl22_util_data_final.xlsx",
    "https://data.chhs.ca.gov/dataset/17bbc0b0-869e-4168-b03b-48fa60c78577/resource/f6339c46-8e35-4466-b972-ce132c43cbf4/download/spcl21_util_data_final.xlsx",
    "https://data.chhs.ca.gov/dataset/17bbc0b0-869e-4168-b03b-48fa60c78577/resource/9c883633-b661-4da3-b39f-50536f60e573/download/spcl20_util_data_final.xlsx",
    "https://data.chhs.ca.gov/dataset/17bbc0b0-869e-4168-b03b-48fa60c78577/resource/188b31e3-2307-479e-9bee-632083f902ba/download/spcl19_util_data_final.xlsx",
    "https://data.chhs.ca.gov/dataset/17bbc0b0-869e-4168-b03b-48fa60c78577/resource/e891cdff-6092-4316-b406-dcbcf4a9c016/download/spcl18_util_data_final.xlsx"
]

data_dictionary_url = ["https://data.chhs.ca.gov/dataset/17bbc0b0-869e-4168-b03b-48fa60c78577/resource/188b31e3-2307-479e-9bee-632083f902ba/download/spcl19_util_data_final.xlsx"]

In [140]:
pre_2018_df = download_excel_files(pre_2018_urls, rows_to_skip = [1,2,3])

post_2018_df = download_excel_files(post_2018_urls, rows_to_skip = [1,2,3,4])

data_dictionary = download_excel_files(data_dictionary_url, rows_to_skip = 0, sheet_number = 3)

Downloaded and processed file 1
Downloaded and processed file 2
Downloaded and processed file 3
Downloaded and processed file 4
Downloaded and processed file 5
Downloaded and processed file 1
Downloaded and processed file 2
Downloaded and processed file 3
Downloaded and processed file 4
Downloaded and processed file 5
Downloaded and processed file 6

/var/folders/29/ysfdqqh96xd2zvnqnqd_8fm80000gn/T/ipykernel_94649/1483052699.py:49: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(all_data, ignore_index=True)

Downloaded and processed file 1

# Data cleaning to merge the two sets of historical data

In [141]:
# Creating a dictionary of old an new column names to rename columns in the pre-2018 dataframe.

old_names = data_dictionary["ALIRTS Dataset Header (2017)"]

new_names = data_dictionary["SIERA Dataset Header (2019)"]

name_mapping = dict(zip(old_names, new_names))

# Renaming the columns in the pre-2018 dataframe.

pre_2018_df = pre_2018_df.rename(columns=name_mapping)

In [142]:
# Creating a function to combine street address columns in pre-2018 dataframe.

def combine_street_address(df, col1, col2, new_col_name):
    
    # Combine columns, handling NaN values
    df[new_col_name] = df[col1].fillna('').astype(str) + df[col2].fillna('').apply(lambda x: f', {x}' if x else '')
    
    # Remove trailing comma and space if col2 was empty
    df[new_col_name] = df[new_col_name].str.rstrip(', ')

    # Remove original columns
    df.drop(columns=[col1, col2], inplace=True)

    return df

In [143]:
# Creating combined street adress and parent company address columns in the pre-2018 dataframe.

combine_street_address(pre_2018_df, "FAC_ADDRESS_ONE", "FAC_ADDRESS_TWO", "FAC_STR_ADDR")

combine_street_address(pre_2018_df, "PARENT_ADDRESS_ONE", "PARENT_ADDRESS_TWO", "FAC_PAR_CORP_BUS_ADDR")

,FAC_NO,FAC_NAME,FAC_CITY,FAC_ZIP,FAC_PHONE,FAC_ADMIN_NAME,FAC_OPERATED_THIS_YR,FAC_OP_PER_BEGIN_DT,FAC_OP_PER_END_DT,FAC_PAR_CORP_NAME,...,DEPROJ_04,PROJ_EXPENDITURES_04,OSHPD_PROJ_NO_04,DEPROJ_05,PROJ_EXPENDITURES_05,OSHPD_PROJ_NO_05,source_file,year,FAC_STR_ADDR,FAC_PAR_CORP_BUS_ADDR
0,306013662,UNION CITY DIALYSIS CENTER,UNION CITY,94587,253-733-4847,Vicki Kertzman,Yes,2013-01-01,2013-12-31,DaVita HealthCare Partners,...,NaN,NaN,NaN,NaN,NaN,NaN,file_1,2013,32930 ALVARADO NILES ROAD NO.300,1423 Pacific Ave
1,306013683,BERKELEY DIALYSIS,BERKELEY,94705,253-733-4847,Vicki Kertzman,No,2013-01-01,2013-12-31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,file_1,2013,2920 TELEGRAPH AVENUE,
2,306104002,ALLIANT INTERNATIONAL UNIVERSITY,FRESNO,93727,559-253-2277,"Robert N. Harris, Ph.D.",Yes,2013-01-01,2013-12-31,Alliant International University,...,NaN,NaN,NaN,NaN,NaN,NaN,file_1,2013,5130 EAST CLINTON WAY,5130 East Clinton Way
3,306121019,FRESENIUS MEDICAL CARE OF EUREKA,EUREKA,95501,707-445-2033,Clarke Sabandal,Yes,2013-01-01,2013-12-31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,file_1,2013,2765 TIMBER RIDGE LANE,
4,306134002,EL CENTRO DESERT VALLEY DIALYSIS CENTER,EL CENTRO,92243,760-353-0353,Ana Charves,Yes,2013-01-01,2013-12-31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,file_1,2013,110 SO. FIFTH STREET,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3074,306190916,ROWLAND HEIGHTS DIALYSIS,CITY OF INDUSTRY,91748,626-964-5849,Katherine Crespo,No,2017-01-01,2017-12-31,,...,NaN,NaN,NaN,NaN,NaN,NaN,file_5,2017,"17875 COLIMA RD, STE A",
3075,306334726,FRESENIUS MEDICAL CARE MORENO VALLEY,MORENO VALLEY,92555,951-242-9196,JASON BAUER,Yes,2017-01-01,2017-12-31,,...,NaN,NaN,NaN,NaN,NaN,NaN,file_5,2017,27420 IRIS AVE.,
3076,306196095,FMC DIALYSIS SERVICES OF WEST COVINA,WEST COVINA,91790,626-337-8007,ANIL VAIDYA,Yes,2017-01-01,2017-12-31,,...,NaN,NaN,NaN,NaN,NaN,NaN,file_5,2017,1540 W WEST COVINA PKWY,
3077,306304303,RAI - LAGUNA CANYON - IRVINE,IRVINE,92618-3603,949-727-4495,JASON BAUER,Yes,2017-01-01,2017-12-31,,...,NaN,NaN,NaN,NaN,NaN,NaN,file_5,2017,16255 LAGUNA CANYON RD,
3078,NaN,n = 662,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,file_5,2017,,

In [144]:
# Creating a function to compare columns in the pre-2018 and post-2018 dataframes.
# Possibly useful for data validation/future merging steps.

def compare_columns(df1, df2):
    set1 = set(df1.columns)
    set2 = set(df2.columns)
    
    only_in_df1 = set1 - set2
    only_in_df2 = set2 - set1
    
    return only_in_df1, only_in_df2

columns_only_in_df1, columns_only_in_df2 = compare_columns(pre_2018_df, post_2018_df)

print("Columns only in df1:", columns_only_in_df1)
print("Columns only in df2:", columns_only_in_df2)

Columns only in df1: {'LIC_STATUS_DATE', 'LIC_ORIG_DATE', 'REPORT_STATUS', 'MCARE_PROVIDER_NO', 'ACLAIMS_NO', 'MCAL_PROVIDER_NO'}
Columns only in df2: {'HCAI_PROJ_NO_03', 'LICENSE_EFF_DATE', 'REVISED_DT', 'HCAI_PROJ_NO_02', 'LICENSE_EXP_DATE', 'FACILITY_LEVEL', 'Description', 'HCAI_PROJ_NO_04', 'CORRECTED_DT', 'HCAI_PROJ_NO_01', 'SUBMITTED_DT', 'REV_REPT_PREP_NAME', 'HCAI_PROJ_NO_05'}

In [145]:
pre_2018_df["FAC_NO"].nunique()

706

In [146]:
post_2018_df["FAC_NO"].nunique()

778

In [147]:
# Comparing unique values in the FAC_NO column between the pre-2018 and post-2018 dataframes.

def compare_unique_values(df1, df2, column_name):
    # Get unique values from each DataFrame
    unique_df1 = set(df1[column_name].unique())
    unique_df2 = set(df2[column_name].unique())
    
    # Find values in df1 but not in df2
    only_in_df1 = unique_df1 - unique_df2
    
    # Find values in df2 but not in df1
    only_in_df2 = unique_df2 - unique_df1
    
    # Find values in both
    in_both = unique_df1.intersection(unique_df2)
    
    return only_in_df1, only_in_df2, in_both

column_to_compare = 'FAC_NO'
only_in_df1, only_in_df2, in_both = compare_unique_values(pre_2018_df, post_2018_df, column_to_compare)

print(f"Unique values only in df1: {only_in_df1}")
print(f"Unique values only in df2: {only_in_df2}")
print(f"Unique values in both: {in_both}")

Unique values only in df1: {'306196511', '306105079', '306564219', '306304528', '306190988', '306364172', '306154003', '306196503', '306374538', '306544074', '306014298', '306434187', '306234041', '306191070', '306013683', '306540082', '306481027', '306194574', '306561887', '306564062', '306134019', '306374517', '306374088', '306304142', '306334440', '306154202', '306304494', '306364125', '306364061', '306154016', '306414059', '306244032', '306334106', '306100068', '306364209', '306196093', '306190632', '306491037', '306191165', '306197103', '306314010', '306014248', '306234021', '306014330', '306494082', '306304573', '306014219', '306304135', '306240036', '306374162', '306334015', '306394019', '306384038', '306344117', '306194664', '306374179', '306197971', '306434079', '306364361'}
Unique values only in df2: {'306370487', '306190523', '306190393', '306364595', '306070020', '306370391', '306550495', '306150421', '306300486', '306494139', '306330402', '306300434', '306150480', '306410630', '306500694', '306310400', '306390778', '306100692', '306190648', '306190539', '306190540', '306190493', '306380578', '306410476', '306330385', '306190522', '306370409', '306330418', '306190748', '306150453', '306190450', '306190473', '306190553', '306190449', '306150427', '306370519', '306240684', '306190549', '306430447', '306380466', '306190524', '306410676', '306190420', '306360511', '306300364', '306500551', '306198223', '306190677', '306300457', '306430408', '306300554', '306190599', '306370374', '306280432', '306150452', '306540615', '306570528', '306300718', '306190689', '306100429', '306190723', '306300375', '306100647', '306370642', '306190482', '306190510', '306010634', '306300565', '306560448', '306340405', '306300430', '306190730', '306190558', '306540435', '306360585', '306350682', '306270526', '306440766', '306330516', '306010617', '306190646', '306370637', '306190521', '306040431', '306430520', '306100660', '306191350', '306390527', '306340683', '306070616', '306100490', '306190550', '306190419', '306340471', '306360481', '306190708', '306170563', '306190489', '306390560', '306340451', '306300475', '306190693', '306070424', '306420679', '306190631', '306190690', '306300399', '306100467', '306560525', '306330742', '306190465', '306190618', '306190949', '306340635', '306370620', '306190350', '306190407', '306190613', '306330509', '306190483', '306390403', '306370665', '306190464', '306190756', '306330437', '306300433', '306360488', '306010731', '306010583', '306198403', '306010568'}
Unique values in both: {'306196255', '306484068', '306314044', '306514035', '306244059', '306014069', '306197011', '306564295', '306300227', '306544093', '306544100', '306154182', '306013655', '306314036', '306334449', '306374425', '306374005', '306196430', '306374326', '306194037', '306494069', '306154209', '306504092', '306300163', '306194172', '306196206', '306494102', '306197548', '306301701', '306364258', '306154083', '306564094', '306304083', '306197915', '306344121', '306344142', '306197843', '306364240', '306304463', '306044161', '306564157', '306197010', '306134031', '306271856', '306334002', '306196512', '306484031', '306424082', '306374011', '306194225', '306014136', '306334634', '306198064', '306197928', '306564068', '306191220', '306394010', '306394087', '306394076', '306014294', '306544094', '306196737', '306196566', '306074073', '306370661', '306364122', '306014267', '306374509', '306194857', '306197112', '306300232', '306374506', '306304303', '306431887', '306304355', '306198291', '306074147', '306334519', '306196889', '306244052', '306364391', '306394096', '306344030', '306424042', '306304354', '306502390', '306504055', '306434288', '306014004', '306364392', '306304617', '306105047', '306190442', '306334625', '306304607', '306160074', '306244030', '306434213', '306197943', '306312304', '306364567', '306304562', '306304140', '306154125', '306364573', '306304418', '306194024', '306504085', '306334523', '306564150', '306197120', '306384020', '306374171', '306371591', '306314034', '306197666', '306198493', '306304549', '306334003', '306544078', '306197988', '306434257', '306105078', '306196546', '306504037', '306434249', '306014221', '306234030', '306524014', '306074150', '306374303', '306014274', '306304147', '306196917', '306370934', '306574019', '306197836', '306374242', '306154181', '306274086', '306196122', '306374207', '306364077', '306334009', '306344236', '306304624', '306074162', '306194998', '306094027', '306197645', '306434097', '306191443', '306194299', '306191298', '306164030', '306304523', '306191387', '306198373', '306304436', '306374053', '306196683', '306014335', '306073651', '306334667', '306196945', '306196040', '306198061', '306360900', '306494123', '306414077', '306014083', '306196215', '306434167', '306494053', '306300209', '306194989', '306197162', '306074200', '306196092', '306196266', '306484050', '306504088', '306412747', '306344197', '306434265', '306194990', '306191218', '306554022', '306074122', '306014318', '306374328', '306191416', '306434254', '306197821', '306304093', '306504096', '306196786', '306194003', '306334726', '306191261', '306194257', '306484065', '306514042', '306364406', '306364375', '306564145', '306304546', '306380788', '306198372', '306334578', '306191012', '306154138', '306074081', '306374393', '306304266', '306074057', '306014263', '306198086', '306434191', '306196256', '306424085', '306334742', '306197878', '306198465', '306196518', '306105108', '306204025', '306484070', '306074106', '306197537', '306484057', '306196888', '306414119', '306334732', '306364208', '306414065', '306194862', '306484052', '306434201', '306196044', '306334104', '306484063', '306492308', '306196610', '306304614', '306584006', '306194210', '306564182', '306384018', '306196890', '306044024', '306197522', '306504041', '306194961', '306014127', '306197561', '306196969', '306191144', '306374279', '306196717', '306191163', '306364576', '306420512', '306414163', '306191400', '306344158', '306196062', '306300213', '306244053', '306197036', '306304432', '306504065', '306394088', '306394062', '306191166', '306074101', '306197037', '306105076', '306434207', '306342343', '306154155', '306564235', '306154015', '306194274', '306504077', '306154179', '306134002', '306564010', '306194706', '306434260', '306394089', '306364100', '306434209', '306434214', '306074082', '306300133', '306044157', '306074124', '306197819', '306490918', '306364528', '306434267', '306374245', '306434303', '306197590', '306384237', '306198091', '306214065', '306196787', '306244060', '306014135', '306196207', '306304317', '306334648', '306364592', '306197119', '306214066', '306344138', '306304553', '306342275', '306198087', '306304267', '306374385', '306234039', '306197006', '306014265', '306196758', '306574012', '306334651', '306154210', '306374413', '306014279', '306196526', '306394051', '306344160', '306334737', '306154169', '306334623', '306394108', '306374208', '306191444', '306344014', '306190916', '306544085', '306196565', '306196233', '306504089', '306105073', '306013662', '306364415', '306196432', '306550065', '306364314', '306334126', '306197662', '306454049', '306360016', '306304199', '306414110', '306191050', '306394124', '306304450', '306374039', '306196138', '306374075', '306484055', '306544002', '306014306', '306304231', '306196282', '306431853', '306414122', nan, '306197833', '306334575', '306584011', '306196346', '306197958', '306214064', '306420181', '306196050', '306394050', '306334652', '306394080', '306304188', '306198011', '306101074', '306196337', '306364500', '306404037', '306564106', '306434268', '306196116', '306544088', '306194098', '306196434', '306196146', '306244055', '306105080', '306330002', '306196724', '306196545', '306197612', '306344201', '306198488', '306331863', '306212807', '306391605', '306384218', '306404058', '306014313', '306384217', '306544082', '306314052', '306194082', '306104002', '306364569', '306434182', '306394122', '306014291', '306197009', '306444027', '306364448', '306384235', '306197916', '306431890', '306191167', '306360055', '306434251', '306105102', '306504048', '306121019', '306197264', '306564124', '306374244', '306014197', '306434145', '306194262', '306197722', '306014329', '306198243', '306304366', '306360083', '306196095', '306360029', '306194959', '306194610', '306196392', '306194545', '306504084', '306197868', '306197721', '306504031', '306434305', '306134023', '306374121', '306344045', '306194101', '306304533', '306334581', '306191073', '306564003', '306190912', '306074182', '306504051', '306197950', '306334540', '306344123', '306334482', '306164033', '306364521', '306197554', '306195059', '306434274', '306014344', '306434286', '306494103', '306374313', '306304581', '306314020', '306434308', '306196339', '306364396', '306384230', '306364198', '306196684', '306124035', '306154158', '306494138', '306194263', '306334501', '306196431', '306191101', '306196699', '306344186', '306304474', '306334485', '306494124', '306414144', '306344230', '306274095', '306105031', '306281034', '306196635', '306434208', '306304304', '306364367', '306190819', '306014213', '306484042', '306304305', '306394078', '306544086', '306194091', '306197323', '306414132', '306197401', '306414118', '306214046', '306197066', '306344171', '306190096', '306191181', '306172293', '306364124', '306197663', '306344043', '306198065', '306304572', '306197189', '306196544', '306364401', '306334490', '306196741', '306196136', '306344136', '306494088', '306196564', '306196746', '306282294', '306204030', '306194979', '306504045', '306441904', '306196087', '306451269', '306042207', '306196891', '306434271', '306404063', '306424001', '306274054', '306364531', '306014155', '306304416', '306194833', '306196219', '306364345', '306434225', '306304323', '306271888', '306564250', '306190913', '306431040', '306334560', '306194321', '306374325', '306344165', '306196335', '306134026', '306196014', '306154189', '306074180', '306197272', '306334656', '306304023', '306105129', '306104015', '306164016', '306484049', '306197100', '306194684', '306244056', '306370973', '306301270', '306384216', '306374305', '306196517', '306197948', '306484043', '306196385', '306334534', '306196299', '306344124', '306334631', '306561168', '306364023', '306190961', '306191299', '306196560', '306194976', '306414117', '306154174', '306154097', '306301675', '306344148', '306434211', '306154200', '306074108', '306364308', '306304507', '306304560', '306105135', '306374248', '306564293', '306196225', '306014215', '306105050', '306196041', '306197185', '306074058', '306364241', '306414109', '306204029', '306014009', '306196918', '306374285', '306294022', '306191087', '306174011', '306194707', '306334613', '306197428', '306344143', '306194171', '306384034', '306374016', '306374139', '306191424', '306196584', '306374560', '306195005', '306494098', '306344179', '306197427', '306344200', '306197962', '306414113'}

In [148]:
# Creating a function to compare data types in the shared columns between the pre-2018 and post-2018 dataframes.
# Makes it easier to standardize column types (following two cells) before merging pre- and post-2018 dataframes.

def compare_shared_column_types(df1, df2):
    # Find shared columns
    shared_columns = list(set(df1.columns) & set(df2.columns))
    
    if not shared_columns:
        print("No shared columns found between the DataFrames")
        return None
    
    # Compare data types
    comparison = {}
    for col in shared_columns:
        type1 = df1[col].dtype
        type2 = df2[col].dtype
        comparison[col] = {
            'df1_type': type1,
            'df2_type': type2,
            'match': type1 == type2
        }
    
    # Converting to DataFrame for easy viewing
    comparison_df = pd.DataFrame.from_dict(comparison, orient='index')
    
    return comparison_df

type_comparison = compare_shared_column_types(pre_2018_df, post_2018_df)

if type_comparison is not None:
    print("Shared column type comparison:")
    print(type_comparison)
    
    # Identify mismatched columns
    mismatched = type_comparison[type_comparison['match'] == False]
    if not mismatched.empty:
        print("\nColumns with mismatched types:")
        print(mismatched)
    else:
        print("\nAll shared columns have matching types.")

Shared column type comparison:
                               df1_type df2_type  match
source_file                      object   object   True
NET_OPER_TOT                    float64  float64   True
MEANS_FOR_ACQUISITION_07        float64  float64   True
MEANS_FOR_ACQUISITION_05        float64  float64   True
DEPROJ_05                       float64  float64   True
...                                 ...      ...    ...
PROJ_EXPENDITURES_05            float64  float64   True
APP_IN_HOME_TRAINING_CAPD_CCPD   object   object   True
DT_ACQUIRE_08                   float64  float64   True
DT_ACQUIRE_04                   float64  float64   True
OTHER_OPER_REVENUE_OTHER_TOT    float64  float64   True

[123 rows x 3 columns]

Columns with mismatched types:
                         df1_type        df2_type  match
MEANS_FOR_ACQUISITION_01  float64          object  False
DEEQUIP_01                float64          object  False
SENATE_DIST               float64          object  False
DT_ACQUIRE_01             float64  datetime64[ns]  False
CONGRESS_DIST             float64          object  False
ASSEMBLY_DIST             float64          object  False

In [149]:
# Converting aquisition-related columns in pre-2018 dataframe to types in post-2018 dataframe.

# Pre-2018 dataframe doesn't contain any values for these columns pre-2018, which is why they were imputed differently from those post-2018, which do contain information.

pre_2018_df["DT_ACQUIRE_01"] = pd.to_datetime(pre_2018_df["DT_ACQUIRE_01"])

pre_2018_df["DEEQUIP_01"] = pre_2018_df["DEEQUIP_01"].astype("str")

pre_2018_df["MEANS_FOR_ACQUISITION_01"] = pre_2018_df["MEANS_FOR_ACQUISITION_01"].astype("str")

In [150]:
# Creating a function to remove the string "District " from SENATE_DIST, ASSEMBLY_DIST, and CONGRESS_DIST columns in post-2018 dataframe. 

def clean_and_convert_to_numeric(df, columns):
    def clean_numeric(value):
        if pd.isna(value):
            return value
        # Remove all non-digit characters
        cleaned = re.sub(r'\D', '', str(value))
        return cleaned if cleaned else None

    for col in columns:
        if col not in df.columns:
            print(f"Warning: Column '{col}' not found in the DataFrame. Skipping.")
            continue
        
        # Apply the cleaning function and convert to integer
        df[col] = df[col].apply(clean_numeric).astype('Int64')
    
    return df

columns_to_clean = ['SENATE_DIST', 'CONGRESS_DIST', 'ASSEMBLY_DIST']
post_2018_df = clean_and_convert_to_numeric(post_2018_df, columns_to_clean)

In [151]:
# Creating a function to merge the pre-2018 and post-2018 dataframes.
# Finds all shared columns between df1 and df2 using set intersection.
# Checks if there are any shared columns. If not, it raises an error.
# Merges the DataFrames using all shared columns.

# Using how='outer' ensures that all rows from both DataFrames are kept, even if there's no match on all shared columns.
# suffixes=('_df1', '_df2') are added to disambiguate column names that are in both DataFrames but weren't used for merging.

def merge_on_shared_columns(df1, df2):
    # Find shared columns
    shared_columns = list(set(df1.columns) & set(df2.columns))
    
    # Ensure there are shared columns
    if not shared_columns:
        raise ValueError("No shared columns found between the DataFrames")
    
    # Merge DataFrames on all shared columns
    merged_df = pd.merge(df1, df2, on=shared_columns, how='outer', suffixes=('_df1', '_df2'))
    
    return merged_df

In [152]:
# Attempting to merge pre-2018 and post-2018 dataframes using shared columns
# If successful, print the shape of the merged dataframe
# If unsuccessful due to no shared columns, catch and print the error

try:
    merged_df = merge_on_shared_columns(pre_2018_df, post_2018_df)
    print("Merge successful")
    print(f"Shape of merged DataFrame: {merged_df.shape}")
except ValueError as e:
    print(f"Error: {e}")

Merge successful
Shape of merged DataFrame: (7281, 142)

In [153]:
def compare_fac_no(pre_2018_df, post_2018_df):
    # Get unique FAC_NO values from each dataframe
    pre_2018_fac_no = set(pre_2018_df['FAC_NO'].dropna().unique())
    post_2018_fac_no = set(post_2018_df['FAC_NO'].dropna().unique())

    # Find FAC_NO values only in pre_2018_df
    only_in_pre = pre_2018_fac_no - post_2018_fac_no

    # Find FAC_NO values only in post_2018_df
    only_in_post = post_2018_fac_no - pre_2018_fac_no

    # Find FAC_NO values in both dataframes
    in_both = pre_2018_fac_no.intersection(post_2018_fac_no)

    print(f"Number of FAC_NO only in pre_2018_df: {len(only_in_pre)}")
    print(f"Number of FAC_NO only in post_2018_df: {len(only_in_post)}")
    print(f"Number of FAC_NO in both dataframes: {len(in_both)}")
    print(f"Total unique FAC_NO across both dataframes: {len(pre_2018_fac_no.union(post_2018_fac_no))}")

# Use the function
compare_fac_no(pre_2018_df, post_2018_df)

Number of FAC_NO only in pre_2018_df: 59
Number of FAC_NO only in post_2018_df: 131
Number of FAC_NO in both dataframes: 647
Total unique FAC_NO across both dataframes: 837

In [154]:
# The only na values in the FAC_NO column are from metadata in the pre-2018 dataframe.
# Dropping these rows so all our rows are actual observations.

merged_df = merged_df.dropna(subset=['FAC_NO'])

In [155]:

# Converting some columns to string to match the data types in the post-2018 dataframe
# Necessary because the data types are inconsistent across the two dataframes
def convert_problematic_columns(df):
    for col in df.columns:
        # Check if column contains any non-numeric values
        if df[col].dtype == 'object' and not pd.api.types.is_numeric_dtype(df[col]):
            # Convert to string, replacing NaN with an empty string
            df[col] = df[col].fillna('').astype(str)
        elif df[col].dtype == 'object' and pd.api.types.is_numeric_dtype(df[col]):
            # If it's all numeric, convert to float (which can handle NaN)
            df[col] = pd.to_numeric(df[col], errors='coerce')
    return df

# Apply the conversion function
merged_df = convert_problematic_columns(merged_df)

# Generating a timestamp for the filename
timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")

# Defining output path without timestamp to replace the prior version
output_path = '../../../003_data/001_raw-data/2013-2023_CHHS_dialysis-facility_data.parquet'

# Saving the merged dataframe as a parquet file
# Using parquet in order to preserve data types, optimize storage, and improve read performance.

try:
    # Saving as Parquet
    # Using compression='snappy' to optimize storage
    merged_df.to_parquet(output_path, index=False, compression='snappy')

    # Add metadata
    table = pa.Table.from_pandas(merged_df)
    metadata = table.schema.metadata

    metadata.update({
        b'created_at': str(datetime.now()).encode('utf-8'),
        b'description': b'Merged specialty care data',
        b'version': b'1.0',
        b'cleaning_steps': b'''
            1. Standardized naming convention and data types for Census Tract and Facility Number columns.
            2. Created columns during import: 
                a. year column to identify the year of the data it pertains to.
                b. source_file column to identify the original file from which the data was obtained.
            3. Renamed columns in the pre-2018 dataframe to match the post-2018 dataframe using a data dictionary.
            4. Combined street address columns in the pre-2018 dataframe.
            5. Cleaned and converted specific columns to numeric types in the post-2018 dataframe.
            6. Converted acquisition-related columns in the pre-2018 dataframe to match the data types in the post-2018 dataframe.
            7. Dropped rows with missing FAC_NO in the merged dataframe.
            8. Converted columns with mixed types to string and numeric columns to float in the merged dataframe.
        '''
    })

    updated_table = table.replace_schema_metadata(metadata)
    pq.write_table(updated_table, output_path)

    print(f"Data saved to {output_path}")
except Exception as e:
    print(f"Error saving data: {e}")
    raise

Data saved to ../../../003_data/001_raw-data/2013-2023_CHHS_dialysis-facility_data.parquet